


.lap {
  font-size: 4em !important;
  margin-top: 10%;
  color: teal;
}
.mm {
  color: teal;
}

.intro {
  height: auto;
  min-height: 100vh;
  text-align: center;
  background-color: teal;
}
.oo
{
    background: orange;
}



.ohjur
{
  background: #313131;
  font-size: 18px;
  color: #fff;
  span
  {
    color: rgb(0, 255, 0);
    font-weight: bolder;
  }
}



// asmdklaskdmklasmdlkmsalkdmadmkld 



