.listho
{
// text-decoration: none;
    display: block;

    line-height:1.9;
}
.listhoa
{
            display: block;
            list-style: none;
    line-height:1.9;

        }
        .lalaland
        {
            
            margin-top: 60px;
}


.dami
{
    color: white;
    font-size: 16px;

}


.nohao
{
    color: rgb(127, 153, 131);
}
