@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
.ohoman
{
    background: orange;
    color: white;
}
.olala
{
    font-size:25px;
}
.gulala
{
    font-family: 'PT Sans', sans-serif; 
    font-size: 15px;
    font-weight: lighter;
}
