.lalq
{
    border-bottom: 2px solid black !important;
    padding-top: 22px !important;
    font-size: 16px;
    width: 312px;
}

.bi-arrow-right-circle
{
    color: rgb(255, 0, 0);
    
}
.lo
{
    font-size: 16px;

}

.laud
{
    p
    {
        font-weight: lighter;

    }
}
.hapakmanq
{
    margin-left: 171px;
}
.huehuel
{
    margin-top: -5px;
}
.kalu
{
    background-attachment: fixed;

}